button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    transition: all 0.5s;
}
button:hover{
    background: rgb(199, 199, 199);
    box-shadow: 0px 0px 10px rgb(181, 168, 168);

}